div.week-summary {
    border: 1px solid gray;
    border-radius: 5px;

}

div.week-summary:hover {
    box-shadow: 1px 1px 5px grey;
}

.tableCell {
    /*border: 1px dotted grey;*/
}
table {
    width: 300px;
    border-collapse: collapse;
}
th {
    text-align: left;
    padding: 0 20px 5px;
}


tr:nth-child(even) {
    background-color: #eeeded;
}

