div.header {
    width: 100vw;
    display: flex;
    justify-content: space-around;
}
.navlink {
    padding: 5px 10px;
    border-radius: 4px;
}

.navlink:hover {
    background-color: grey;
    color: white;
}
.active {
    border-radius: 4px 4px 0 0;
    border-bottom: 2px solid grey;
}